@{
  Layout = "_Layout";
}

@using HFSclient.ViewModels
@model LoginViewModel

<p>Log in with your account</p>
<hr />
@if (ViewBag.err != null)
{
  @ViewBag.err
}
@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.Label("Email")</td>
      <td>@Html.TextBoxFor(m => m.Email)</td>
    </tr>
    <tr>
      <td>@Html.Label("Password")</td>
      <td>@Html.PasswordFor(m => m.Password)</td>
    </tr>
  </table>
  <input type="submit" value="Log in" class="btn btn-info" />
}