@{
  Layout = "_Layout";
}
@using HFSclient.ViewModels
@model RegisterViewModel

<p>Register a new user</p>
<hr />
@if (ViewBag.err != null)
{
  @ViewBag.err
}
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  <table>
    <tr>
      <td>@Html.Label("Email")</td>
      <td>@Html.TextBoxFor(user=> user.Email)</td>
    </tr>
    <tr>
      <td>@Html.Label("Password")</td>
      <td>@Html.PasswordFor(user=> user.Password)</td>
    </tr>
    <tr>
      <td>@Html.Label("Confirm Password")</td>
      <td>@Html.PasswordFor(user=> user.ConfirmPassword)</td>
    </tr>
  </table>
  <input type="submit" value="Register" class="btn btn-info"/>
}