@{
  Layout = "_Layout";
}

@using HFSclient.Models
@model Game


<div class="box">
  <div class="inner-box">
    <table>
      @if (Model != null)
      {
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Season</th>
          <th>Week</th>
          <th>Team</th>
          <th>PassYards</th>
          <th>RecYards</th>
          <th>RushYards</th>
          <th>Interceptions</th>
          <th>Fumbles</th>
          <th>Receptions</th>
          <th>PassTDs</th>
          <th>RushTDs</th>
          <th>RecTDs</th>
        </tr>
        @* @foreach (var row in Model)
        { *@
          <tr>
            <th>@(ViewBag.FirstName + " " + ViewBag.LastName)</th>
            <th>@ViewBag.Position</th>
            <th>@Model.Season</th>
            <th>@Model.Week</th>
            <th>@Model.Team</th>
            <th>@Model.PassYards</th>
            <th>@Model.RecYards</th>
            <th>@Model.RushYards</th>
            <th>@Model.Interceptions</th>
            <th>@Model.Fumbles</th>
            <th>@Model.Receptions</th>
            <th>@Model.PassTDs</th>
            <th>@Model.RushTDs</th>
            <th>@Model.RecTDs</th>
          </tr>
         // }
        }
        else
        {
          <tr>
            <td>There are no details.</td>
          </tr>
        }
    </table>
  </div>
</div>