@{
  Layout = "_Layout";
}
@using HFSclient.Models

@foreach(var roster in Model)
{
  <li>@roster.Position @roster.FirstName @roster.LastName
    @if(roster.Position == roster.FootballPosition)
    {
      @Html.ActionLink($"Bench", "Edit", null, new {id = roster.RosterId}, new {@class="btn btn-success btn-sm"})
    }
    else
    {
    @Html.ActionLink($"{roster.FootballPosition}", "Edit", null, new {id = roster.RosterId}, new {@class="btn btn-success btn-sm"})
    }
  @Html.ActionLink(" Remove", "RemovePlayer", null, new {id = roster.RosterId}, new {@class="btn btn-success btn-sm"})
  </li>
}
<br>
@Html.ActionLink(" Find a Player", "Search", null, new { id = ViewBag.Group.GroupId }, new {@class="btn btn-success btn-sm"})
@Html.ActionLink(" League", "Details", "Leagues", new { id = ViewBag.Group.LeagueId }, new {@class="btn btn-success btn-sm"})