@{
  Layout = "_Layout";
}

@model List<Player>
@using HFSclient.Models

<div class="box">
  <div class="inner-box">
    <table>
      @if (@Model.Count == 0)
      {
        <tr>
          <td>There are no Leauges in this list.</td>
        </tr>
      }
      @foreach (var player in Model)
      {
        <tr>
          <td>@player.FirstName @player.LastName</td>
          @* <td>@Html.ActionLink(" View", "Details", new { id = player.PlayerId }, new {@class="btn btn-info"} )</td> *@
          <td>@Html.ActionLink(" Add", "AddPlayer", null, new { groupId = @ViewBag.GroupId, id = player.PlayerId }, new {@class="btn btn-info"} )</td>
        </tr>
      }
    </table>
  </div>
</div>