@{
  Layout = "_Layout";
}
@using HFSclient.Models;

@model HFSclient.Models.Schedule;

<div>Week @Model.Week
<div class="row">
  
  <div class="col-4">
  <p>@ViewBag.Team1Name : @Model.Team1Score</p>
  <p></p>
  <ul>
  @foreach (Tracker tracker in @ViewBag.Team1Trackers)
  {
      <li>@tracker.Position @tracker.FirstName @tracker.LastName : @Html.ActionLink(tracker.Points.ToString(), "Details", "Rosters", new { id = tracker.GameId }, new {@class="btn btn-success btn-sm"})</li>
  }
  </ul>
  </div>
  <div class="col-4">
  <p>@ViewBag.Team2Name : @Model.Team2Score</p>
  <p></p>
  @foreach (Tracker tracker in @ViewBag.Team2Trackers)
  {
            <li>@tracker.Position @tracker.FirstName @tracker.LastName : @Html.ActionLink(tracker.Points.ToString(), "Details", "Rosters", new { id = tracker.GameId }, new {@class="btn btn-success btn-sm"})</li>

     
      
  }
  </div>

</div>
  

</div>



