@{
  Layout = "_Layout";
}
@using HFSclient.Models;

@model List<Schedule>;
@{ 
  int week = 1;
  <table>
    <tr>
      <th>Week</th>
      <th>Visitor</th> 
      <th>Score</th>
      <th>Home</th>
      <th>Score</th>
    </tr>
    <tr>
      <td>-----------</td>
      <td>-----------</td>
      <td>-----------</td>
      <td>-----------</td>
      <td>-----------</td>
    </tr>
    @foreach (Schedule schedule in Model)
    {
      <tr>    
      @if(week != schedule.Week)
      {
        week++;
        <tr>
          <td>-----------</td>
          <td>-----------</td>
          <td>-----------</td>
          <td>-----------</td>
          <td>-----------</td>
        </tr>
      }
        <td class="center-text">@schedule.Week</td>
        <td>@schedule.Team1Name</td>
        <td class="center-text">@schedule.Team1Score</td>
        <td>@schedule.Team2Name</td>
        <td class="center-text">@schedule.Team2Score</td>
      </tr>
      
    }
  </table>
}