@{
  Layout = "_Layout";
}

@using HFSclient.Models

<p>League details</p>
<hr />
<p><strong>Name:</strong> @ViewBag.League.LeagueName</p>
<hr />
<p>Owners in this League:</p>
<div class="box">
  <div class="inner-box">
    <table>
      @if (@Model.Count != 0)
      {
        @foreach (var league in Model)
        {
          <tr>
            <td>@league.TeamName</td>
            <td>@Html.ActionLink(" View Team", "Index", "Rosters", new { id = league.GroupId }, new { @class = "btn-btn-info"})</td>
            @if(@ViewBag.Owner != null)
            {
              <td>@Html.ActionLink(" Remove", "RemoveOwner", null, new { id = league.GroupId }, new { @class = "btn-btn-info"})</td>
              <td>@Html.ActionLink(" Add Player", "Search", "Rosters", new { id = league.GroupId }, new { @class = "btn-btn-info"})</td>
            }
          </tr>
        }
      }
      else
      {
        <tr>
          <td>There are no Owners in this list.</td>
        </tr>
      }
    </table>
  </div>
</div> 
<br>
@if(@ViewBag.Owner != null)
{
  <p>@Html.ActionLink(" Edit League", "Edit", new { id = @ViewBag.League.LeagueId }, new {@class="btn btn-success btn-sm"})</p>
  <p>@Html.ActionLink(" Settings", "Commish", new { id = @ViewBag.League.LeagueId }, new {@class="btn btn-success btn-sm"})</p>
}
<p>@Html.ActionLink(" See All Leagues", "Index", null, null, new {@class="btn btn-info btn-sm"})</p>
@if(@Model.Count < 13)
{
  <p>@Html.ActionLink(" Join League", "Join", new { id = @ViewBag.League.LeagueId }, new {@class="btn btn-success btn-sm"})</p>
}
@Html.ActionLink(" View Schedule", "LeagueSchedule", "Schedules", new { id = @ViewBag.League.LeagueId }, new { @class="btn btn-info"})
@Html.ActionLink(" View Standings", "Index", "Standings", new { id = @ViewBag.League.LeagueId }, new { @class="btn btn-info"})
@* League
Current Players
User clicks on themselves -> Roster
History
Button View Standings *@