@{
  Layout = "_Layout";
}
@model HFSclient.Models.League

<h3>Edit this League: @Html.DisplayFor(model => model.LeagueName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.LeagueId)

  @Html.Label("League Name")
  @Html.EditorFor(model => model.LeagueName)

  <input type="submit" value="Save" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.LeagueId }, new {@class="btn btn-info btn-sm"})</p>


@* Edit League
Remove Player
Change Name
Change Commissioner
Change Image *@