@{
  Layout = "_Layout";
}

@using HFSclient.Models
@model HFSclient.Models.Group

<p>Join this League: @ViewBag.League.LeagueName</p>
<hr />
@using (Html.BeginForm())
{
  @* @Html.HiddenFor(model => model.LeagueId) *@
  @Html.Hidden("LeagueId", (int)@ViewBag.League.LeagueId)

  @Html.Label("Choose your teams name:")
  @Html.TextBoxFor(model => model.TeamName)

  <input type="submit" value="Join" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-info btn-sm"})</p>



